.additional-images {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Adjust the gap between images if needed */
}

.crop-container {
  width: 150px; /* Set the desired width */
  height: 150px; /* Set the desired height */
  overflow: hidden; /* Hide the overflow to crop the image */
  position: relative; /* Create a positioning context */
}

.cropped-image {
  width: 100%; /* Make the image fill the container */
  height: 100%; /* Make the image fill the container */
  object-fit: cover; /* Crop the image to cover the container */
  object-position: center; /* Center the image within the container */
}
