{% assign tags = include.tags
  | object_items
  | join: ","
  | split: ","
  | array_filter
  | uniq
%}
{% assign link = include.link | default: page.dir | absolute_url %}
{% if tags.size > 0 or include.repo %}
  <div
    class="tags"
    {% if include.repo %}
      data-repo="{{ include.repo }}"
    {% endif %}
    {% if link %}
      data-link="{{ link }}"
    {% endif %}
  >
    {% for tag in tags %}
      {% if tag == "Conference" %}
        {% assign background = "background: #a727ba;" %}
      {% elsif tag == "Workshop" %}
        {% assign background = "background: #1f9458;" %}
      {% elsif tag == "Journal" %}
        {% assign background = "background: #4417ad;" %}
      {% elsif tag == "Book" %}
        {% assign background = "background: #8f3210;" %}
      {% else %}
        {% assign background = "" %}
      {% endif %}
      <a
        href="{{ link }}?search=&quot;tag: {{ tag }}&quot;"
        class="tag"
        style="{{ background }}"
        data-tooltip="Show items with the tag &quot;{{ tag }}&quot;"
      >
        {{ tag }}
      </a>
    {% endfor %}
  </div>
{% endif %}
